body
{
    font-family: "Times New Roman", Times, serif;
}
$themeColor : chocolate;

#bunnyleft{
	width: 100px;
    height: 120px;
   
  }
  #bunnyRight{
    width: 100px;
      height: 120px;
     
    }
    
    .advanceText {
      margin: 0;
      position: absolute;
      top: 32%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      opacity: 0.8;
      width: 55%;
      max-width: 400px;
      height: auto;
    }
    .newYear2020 {
      margin: 0;
      position: absolute;
      top: 65%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      opacity: 0.8;
      width: 100%;
      max-width: 400px;
      height: auto;
    }
    .newTextname{
      margin: 0;
      position: absolute;
      top: 15%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      opacity: 0.8;
      width: 100%;
      height: auto;
    }
   
    
    .shareButton {
      width: 60px;
      height: 40px;
      background-color: #ff0000;
      position: absolute;
      -webkit-animation-name: bner_01;
      -webkit-animation-duration: 4s;
      animation-name: bner_01;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      margin-left: 20%;
      top: 1%;
      border-radius: 15px;
      border: 2px #01ff00 dashed;
      -webkit-box-shadow: 0px 9px 0px #f72a00, 0px 9px 25px rgba(0,0,0,0.7);
      -moz-box-shadow: 0px 9px 0px #db1f05,0px 9px 25px rgba(0,0,0,0.7);
      box-shadow: 0px 9px 0px #89ff00a3, 0px 9px 25px rgba(0,0,0,0.7);
  }
  @keyframes bner_01 {
    0% {
      transform: translateX(-0%);
    }
    70% {
      transform: translateX(100%);
    }
    
}
.forward {
  color: white;
  font-size: 1.4em;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .advanceText {
    margin: 0;
    position: absolute;
    top: 32%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
    width: 55%;
    max-width: 400px;
    height: auto;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .advanceText {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
    width: 80%;
    max-width: 300px;
    height: auto;
  }
   .shareButton {
      width: 80px;
    height: 60px;
    background-color: red;
    position: absolute;
    -webkit-animation-name: bner_01;
    -webkit-animation-duration: 4s;
    animation-name: bner_01;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    margin-left: 25%;
    top: 1%;
    border-radius: 15px;
    border: 4px white dashed;
  }
  @keyframes bner_01 {
    0% {
      transform: translateX(-0%);
    }
    70% {
      transform: translateX(100%);
    }
    
}
.forward {
  color: white;
  font-size: 2em;
}
.newYear2020 {
  margin: 0;
  position: absolute;
  top: 65%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
  width: 100%;
  max-width: 600px;
  height: auto;
}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .advanceText {
    margin: 0;
    position: absolute;
    top: 34%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
    width: 80%;
    max-width: 350px;
    height: auto;
  }
  .newYear2020 {
    margin: 0;
    position: absolute;
    top: 65%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
    width: 100%;
    max-width: 650px;
    height: auto;
  }
.shareButton {
  width: 150px;
  height: 80px;
  background-color: red;
  position: absolute;
  -webkit-animation-name: bner_01;
  -webkit-animation-duration: 4s;
  animation-name: bner_01;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  margin-left: 20%;
  top: 1%;
  border-radius: 15px;
  border: 4px white dashed;
}
.forward {
  color: white;
  font-size: 4em;
}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .advanceText {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
    width: 80%;
    max-width: 300px;
    height: auto;
  }
  .newYear2020 {
    margin: 0;
    position: absolute;
    top: 65%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
    width: 100%;
    max-width: 500px;
    height: auto;
  }
.shareButton {
  width: 180px;
    height: 60px;
    background-color: red;
    position: absolute;
    -webkit-animation-name: bner_01;
    -webkit-animation-duration: 4s;
    animation-name: bner_01;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    margin-left: 7%;
    top: 1%;
    border-radius: 15px;
    border: 4px white dashed;
}
.forward {
  color: white;
  font-size: 2em;
}
}